*.class
*.log
bin/
dist/*
target/
lib_managed/
src_managed/
project/target/
project/boot/
project/plugins/project/
project/lib_managed/
project/project/
.scala_dependencies
.settings
.cache
.directory
data
lib/*
